/* .carousel .carousel-item {
  width: 100%;
  height: 100%;
  /* margin-top: 10000px; */
/* }  */

.carousel {
  margin-top: 100px;
  margin-right: 90px;
  border-radius: 30px;
}
.card-image img {
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
}
/* .card .card-image {
  border-radius: 100px;
}
.card.card-image img {
  border-radius: 100px;
} */

.carousel .carousel-item {
  width: 40% !important;
}
.card-title {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 90px;
  font-weight: bold;
}
.card-title .sub-title {
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: -7px;
}
.card-title .subs-title {
  font-size: 14pt;
}
